<%- include('layouts/header')%>
<div class="container">
<div class="sessions">
    <div class="one">
        <img src="./img/Sessionsicon.png">
        <h2>Slides & Codes</h2>
        
    </div>
    <ul>
        <h5>Installing Environment</h5>
        <li><a href="https://docs.google.com/presentation/d/18dbFNdEZBOR35UUBhdvbMTWF2X8kuTbz/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="https://docs.google.com/presentation/d/18RBchMja5XZchWuXca-O68dzBKU7mfhH/edit#slide=id.p1">Slide 2</a></li>
        <li><a href="https://docs.google.com/presentation/d/1nggMEDvOTlfE7aul1-dhQZwTui8dpWu0/edit#slide=id.p1">Slide 3</a></li>
        <li><a href="/code/Session 1 code.zip">Code</a></li>
      </ul>
      <ul>
        <h5>Storage</h5>
        <li><a href="https://docs.google.com/presentation/d/1PqR8p7fZ71pjlYkG41k8xYoK-nlIuh7d/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 2 code.zip">Code</a></li>
      </ul>
      <ul>
        <h5>Embedded Systems Concepts</h5>
        <li><a href="https://docs.google.com/presentation/d/1fHLyJc__L7mFQ3BvB8q6p5Xx4wtZcHKq/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 3 code.zip">Code</a></li>
      </ul>
      <ul>
        <h5>Assembly Crash Course</h5>
        <li><a href="https://docs.google.com/presentation/d/1DnvY2L3bKogIpm2UdGRs6kJnJsVxnQmG/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 4 code.zip">Code</a></li>
      </ul>
      <ul>
        <h5>Dealing with DIOs</h5>
        <li><a href="https://docs.google.com/presentation/d/1DnvY2L3bKogIpm2UdGRs6kJnJsVxnQmG/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 5 code.zip">Code</a></li>
      </ul>
</div>
<div class="assignments">
    <div class="one">
        <img src="./img/assignments.jpg">
        <h2>Assignments</h2>
        
    </div>
    <ul>
      <li><a href="/documets/Task 1.pdf"> <h4>Task 1</h4></a></li>
      <li><a href="/documets/Task 2.pdf"> <h4>Task 2</h4></a></li>
      <li><a href="/documets/Task 3.pdf"> <h4>Task 3</h4></a></li>
      <li><a href="/documets/Task 4.pdf"> <h4>Task 4</h4></a></li>
    </ul>
</div>
<div class="project">
    <div class="one">
        <img src="./img/Project.jpg">
        <h2>Project</h2>
        
    </div>
    <a href="/documets/Project 1.pdf"><h4>Project</h4></a>
</div>
</div>
<%- include('layouts/footer')%>