<%- include('layouts/header')%>
<div class="card1">
    <div class="card2">
      <h1 class="card-title" style="color: rgb(250, 250, 250);">Web Development</h5>
        <%if(error!=''){%>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error%>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
          </div>
        <%}%>
      <div class="info">
        <ul >
          <h3 style="color: rgb(250, 250, 250);">Instructors : </h3>
          <li ><img src="./img/Abdullah Adel.jpg">Abdullah Adel</li>
          <div class="btns">
          <a href="/Enroll3"> <button>Enroll</button></a>
          <a href="/ViewMaterial3"><button>View Material</button></a>
        </div>
        </ul>
        <ul >
          <li class="list2">Start Date : 22/6/2020</li>
          <li class="list2">End Date : 5/8/2020</li>
          <li class="list2">Number Of Sessions : 13</li>
          <li class="list2">Schedule : Sunday and Wednesday at 5 PM</li>
        </ul>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HTML5 (session 1)</h5>
          <ul>
            This session is just a discussion of what we can create in cinema4D and what it looks like. We also get familiar with the interface, basic transformation tools & viewport shortcuts.

          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CSS3 - Part 1 (session 2)</h5>
          <ul>
            This one is the first in modeling. First, we look into base objects like cubes and spheres. Then, we try to understand splines, spline masks & generators. Finally, we get familiar with some modeling modifiers.
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CSS3 - Part 2 (session 3)</h5>
         <ul>
            We dive into the edit mode modeling where we can transform and do so much more on vertex, edge or polygon level. We learn about subdivision tools and others. We also learn about most of the selection tools.
         </ul>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScript - Part 1 (session 4)</h5>
          <ul>
            We first work on an example to show some workflow of poly modeling. Then, we introduce the animation basic elements: keyframes, timeline, F-curves, dope sheet and more.

            </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScript - Part 2 (session 5)</h5>
          <ul>
            In this session, we try to understand how Deformers work, what is needed in a mesh to be deformed properly and around 15 of Cinema4D's deformers. We also learn about landscape object and polygon reduction.
            </ul>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScipt - Part 3 (session 6)</h5>
          <ul>
            In this workshop we try different ideas especially in poly modeling and animation. Some animation tags are introduced as well.

            </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Node.js - Part 1 (session 7)</h5>
         <ul>
            This session is all about Motion graphics generators in Cinema4D. We learn about cloning, Voronoi fractures, tracers and more.
         </ul> 
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Node.js - Part 2 (session 8)</h5>
           <ul>
            In this one, we continue with motion graphics. We learn about effectors which make MoGraph so much more interesting and powerful, we also learn about fields which give more control over effectors and field blending as well.

           </ul>
            
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Node.js - Part 3 (session 9)</h5>
          <ul>  
            From rigid body dynamics, to soft body and cloth dynamics, and finally, to particle dynamics which can also be used to simulate fluids. This session sets you up with the basics of Cinema4D's dynamics engine.
            </ul>  
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Node.js - Part 4 (session 10)</h5>
          <ul>
            A short workshop in which we try some more examples on MoGraph and Dynamics.

          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project Description (session 11)</h5>
          <ul>
            This session is about materials and textures. We first learn about layer blending modes and HSV system. Then we learn about materials channels such as Reflection, Displacement, Transparency and Luminance. We also learn about the different noises and textures that can be used in any channel.

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CMD (session 12)</h5>
          <ul>
            In this final session, we learn some more about materials, we also learn about camera and how to animate them. We learn about setup elements and different lighting types. Finally, we learn about saving and exporting as well as basic rendering settings.
        </ul>
        </div>
      </div>
    </div>
  </div>
</var>
<%- include('layouts/footer')%>