<%- include('layouts/header')%>
<div class="container">
<div class="sessions">
    <div class="one">
        <img src="./img/Sessionsicon.png">
        <h2>Slides & Codes</h2>
        
    </div>
    <ul>
        <h4>HTML5</h4>
        <li><a href="https://docs.google.com/presentation/d/1JmehuFkZRfA5Eal-_imqtW4Ph6hCS7rT/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 1 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>CSS3 - Part 1</h4>
        <li><a href="https://docs.google.com/presentation/d/12gNsLTUHZOF36TJPpIQvE6t59ekR9Teo/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 2 code.zip">Code</a></li>
      </ul>
      <ul>
        <ul>
            <h4>CSS3 - Part 2</h4>
            <li><a href="/code/Session 3 code.zip">Code</a></li>
          </ul>
          <ul>
        <h4>JavaScript - Part 1</h4>
        <li><a href="https://docs.google.com/presentation/d/1HIsw9I9pm6WGD64WErOiOI7KAlsJkO53/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 4 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>JavaScript - Part 2</h4>
        <li><a href="https://docs.google.com/presentation/d/1dN49swQKJ-qSMR12Rw4DoKaTnYfXBWdp/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 5 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>JavaScipt - Part 3</h4>
        <li><a href="https://docs.google.com/presentation/d/1nNwJ_cxh6iM1AHZUQCnv_WplYyh9m2y5/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 6 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>Node.js - Part 1</h4>
        <li><a href="https://docs.google.com/presentation/d/1CAoX7VkteCB_2bdjDi_MXoFB2ZKwgxdF/edit#slide=id.p1">Slide 1</a></li>
        <li><a href="/code/Session 7 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>Node.js - Part 2</h4>
        <li><a href="/code/Session 8 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>Node.js - Part 3</h4>
        <li><a href="/code/Session 9 code.zip">Code</a></li>
      </ul>
      <ul>
        <h4>Node.js - Part 4</h4>
        <li><a href="/code/Session 10 code.zip">Code</a></li>
      </ul>
      
      
</div>
<div class="assignments">
    <div class="one">
        <img src="./img/assignments.jpg">
        <h2>Assignments</h2> 
    </div>
    <ul>
      <li><a href="/documets/Task 1.pdf"> <h4>Task 1</h4></a></li>
      <li><a href="/documets/Task 2.pdf"> <h4>Task 2</h4></a></li>
      <li><a href="/documets/Task 3.pdf"> <h4>Task 3</h4></a></li>
      <li><a href="/documets/Task 4.pdf"> <h4>Task 4</h4></a></li>
    </ul>
</div>
<div class="project">
    <div class="one">
        <img src="./img/Project.jpg">
        <h2>Project</h2>
    </div>
    <a href="/documets/Project 1.pdf"><h4>Project</h4></a>
</div>
</div>
<%- include('layouts/footer')%>